@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.wrapper{
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows:185px 70px auto auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
}

body{
    font-family: "Spectral SC", serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*  Visar prioritering på typsnitt, så alltid något kan användas */
    margin: 0;
    background-color: #FAF9F6;
}


header > nav ul{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
}

header > nav li{
    list-style-type: none;
    text-align: center;
    border: solid;
    border-radius: 20%;
}

header > nav li:nth-child(6){
    border: none;
    background-color: #FAF9F6;
}

header > nav li:nth-child(1){
    border: none;
    background-color: #FAF9F6;
}

a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header > nav > ul > li > a > img{
    width: 70%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}