@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows:250px auto 80px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}

header{
    grid-area: header;
    display: grid;
    grid-template-rows: auto auto;
}

#sida2 header{
    grid-area: header;
    display: grid;
    grid-template-rows: auto auto auto;
}

body{
    font-family: "Spectral SC", serif, 'Segoe UI', Tahoma, Verdana, sans-serif; /*  Visar prioritering på typsnitt, så alltid något kan användas */
    margin: 0;
    background-color: #FAF9F6;
    height: 100vh;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left:10px;
    justify-items: center;
}

#sida4 main{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

#sida4 video{
    width: 65%;
    padding: 0;
}

#sida4 section{
    width: 100%;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    padding: 10px;
}

#sida4 section img{
    width: 65%;
    border-radius: 10px;
}

h3 ~ p, h3 ~ p ~ video{
    padding-left: 15px;
}

h2{
    text-align: center;
}

#skapakonto main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

main > section:nth-child(2) > img{
    width: 80%;
}

h1{
    font-size: 40px;
    font-weight: 600;
    padding-left: 20px;
}

header > nav{
    background-image: linear-gradient(#ADD8E6, #75afc2  );
}


header > nav:first-of-type ul{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

caption{
    font-size: 2em;
}

table, td, th{
    border: thin solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 500px;
}

tr:nth-child(even){
    background-color: rgb(0, 0, 0, 0.2);
}

header nav:nth-child(2){
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#75afc2, #ADD8E6);
    padding-bottom: 10px;
}

header > nav li, nav li{
    display: grid;
    justify-content: stretch;
    list-style-type: none;
    text-align: center;
    border: thin solid rgb(255, 255, 255);
    border-radius: 30%;
    background-color:rgba(0, 0, 0, 0.150);
    width: 300px;
    font-size: 2.5ch;
    color: white;
    transition: 0.5s;
}

header > nav li:hover, nav li:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

header > nav:first-of-type li:nth-child(1), header > nav li:nth-child(6){
    border: thin none rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
}

header > nav:first-of-type li:nth-child(1):hover, header > nav li:nth-child(6):hover{
    transition: 0.5s;
    transform: scale(1.00);
    display: grid;
    justify-content: center;
}

a:link{
    text-decoration: none;
    color: rgb(255, 255,255);
}

header > nav > ul > li > a > img:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

header > nav > ul > li > a > img{
    width: 75px;
    transition: 0.5s;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

#skapakonto form p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#skapakonto label{
    width: 100px;
}

#skapakonto .reqfield{
    padding-left: 5px;
}

#skapakonto fieldset{
    border-radius: 10px;
}

#skapakonto fieldset:last-of-type{
    padding-top: 15px;
    border-style: none;
}

footer{
    grid-area: footer;
    background-image: linear-gradient(#4caf50,#265828);
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
}
